@model Nemesys.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Report Details";
}

<h1>@Model.Title</h1>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Date of Report
        </dt>
        <dd class="col-sm-10">
            @Model.DateOfReport.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @Model.Location
        </dd>
        <dt class="col-sm-2">
            Date of Hazard
        </dt>
        <dd class="col-sm-10">
            @Model.HazardDateTime.ToString("dd/MM/yyyy HH:mm")
        </dd>
        <dt class="col-sm-2">
            Hazard Type
        </dt>
        <dd class="col-sm-10">
            @Model.HazardType
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status
        </dd>
        <dt class="col-sm-2">
            Reporter
        </dt>
        <dd class="col-sm-10">
            @Model.UserEmail
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" alt="Image for @Model.Title" />
        </dd>
        <dt class="col-sm-2">
            Upvotes
        </dt>
        <dd class="col-sm-10">
            @Model.Upvotes
        </dd>
    </dl>
</div>
@if (Model.Investigation != null)
{
    <div>
        <h4>Investigation</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @Model.Investigation.Description
            </dd>
            <dt class="col-sm-2">
                Date of Action
            </dt>
            <dd class="col-sm-10">
                @Model.Investigation.DateOfAction
            </dd>
            <dt class="col-sm-2">
                Investigator Email
            </dt>
            <dd class="col-sm-10">
                @Model.Investigation.InvestigatorEmail
            </dd>
            @if (!string.IsNullOrEmpty(Model.Investigation.InvestigatorPhone))
            {
                <dt class="col-sm-2">
                    Investigator Number
                </dt>
                <dd class="col-sm-10">
                    @Model.Investigation.InvestigatorPhone
                </dd>
            }
        </dl>
        @if (Model.IsInvestigationOwner)
        {
            <div>
                <a asp-action="Edit" asp-controller="Investigations" asp-route-id="@Model.Investigation.InvestigationID" class="btn btn-warning">Edit Investigation</a>
                <form asp-action="Delete" asp-controller="Investigations" asp-route-id="@Model.Investigation.InvestigationID" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete Investigation</button>
                </form>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        }
        else
        {
            <div>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        }
    </div>
}
else
{
    <div>
        <a asp-action="Create" asp-controller="Investigations" asp-route-reportId="@Model.Id" class="btn btn-primary">Add Investigation</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
}

